<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="css/style.css">

    <title>Document</title>
</head>
<body>

    <footer>
        
        <h2 class="footerText">LOGO</h2>
        

        <ul>
            <li> <a href="/">HOME</a> </li>
            <li> <a href="/team1">TEAM1</a> </li>
            <li> <a href="/team2">TEAM2</a> </li>
            <li> <a href="/team3">TEAM3</a> </li>
            <li> <a href="/team4">TEAM4</a> </li>
        </ul>
    </footer>
    
        
</body>
</html>